<div class="row">
		<div class="col-lg-12">
			<h1>Donations</h1>
		</div>
	</div>
	<hr>
	<div class="row" *ngFor="let donation of donations | reverse">
		<div class="col-xs-12">
			<div class="row col-xs-12">
				<div class="col-xs-4">
					<h2>Transaction Hash</h2>
				</div>
				<div class="col-xs-8">
					<h4>{{donation.tran_hash}}</h4>
				</div>
			</div>

			<div class="row col-xs-12">
				<div class="col-xs-4">
					<h2>From</h2>
				</div>
				<div class="col-xs-8">
					<h4>{{donation.sender}}</h4>
				</div>
			</div>

			<div class="row col-xs-12">
				<div class="col-xs-4">
					<h2>Amount</h2>
				</div>
				<div class="col-xs-8">
					<h4>{{donation.amount}} Ethers</h4>
				</div>
			</div>

			<div class="row col-xs-12">
				<div class="col-xs-4 col-xs-offset-4">
					<h2>----------------------------------</h2>
				</div>
			</div>
		</div>
</div>	
	